<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" style="color: #FFCF00;"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center custom-title">Ver Servicios</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline" class="custom-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="pagedServices.length > 0; else noServices">
    <ng-container *ngFor="let page of pagedServices[currentPage]">
      <ion-card (click)="goToService(page.id)">
        <ion-card-content class="custom-card-content">
          <div class="image-container">
            <ion-avatar>
              <img [src]="page.imageUrl" alt="{{page.nombreEmpresa}}" />
            </ion-avatar>
          </div>
          <div class="details-container">
            <h2 class="service-title">{{ page.nombreEmpresa }}</h2>
            <p class="service-price">{{ page.price | currency }}</p>
            <p class="service-info">{{ page.servicio }}</p>
            <p class="service-description">{{ page.description }}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-list>

  <div *ngIf="pagedServices.length > 1" class="pagination-controls">
    <div class="page-info">
      Página {{ currentPage + 1 }} de {{ pagedServices.length }}
    </div>
    <div class="pagination-buttons">
      <ion-button (click)="previousPage()" [disabled]="currentPage === 0" class="custom-button">
        Anterior
      </ion-button>
      <ion-button (click)="nextPage()" [disabled]="currentPage >= pagedServices.length - 1" class="custom-button">
        Siguiente
      </ion-button>
    </div>
  </div>

  <ng-template #noServices>
    <div class="no-services">
      <p>No hay servicios disponibles</p>
    </div>
  </ng-template>
</ion-content>
