<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" style="color: #FFCF00;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center custom-title">Crear Servicio</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createServiceForm" (ngSubmit)="onSubmit()">
    <ion-card class="custom-card">
      <ion-card-header class="custom-card-header">
        <ion-card-title class="custom-card-title ion-text-center">Nuevo Servicio</ion-card-title>
      </ion-card-header>
      <ion-card-content class="custom-card-content">
        <ion-item>
          <ion-label position="floating">Nombre de la Empresa</ion-label>
          <ion-input formControlName="nombreEmpresa" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input formControlName="telefono"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Categoría</ion-label>
          <ion-select formControlName="category" required>
            <ion-select-option *ngFor="let category of categories" [value]="category.id">
              {{ category.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sobre Nosotros</ion-label>
          <ion-input formControlName="sobreNosotros"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input type="number" formControlName="price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Servicio</ion-label>
          <ion-input formControlName="servicio" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input formControlName="dirreccion" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Ciudad</ion-label>
          <ion-input formControlName="ciudad" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Imagen</ion-label>
          <input type="file" (change)="onFileSelected($event)">
        </ion-item>
        <ion-button type="submit" [disabled]="createServiceForm.invalid" expand="full" class="custom-button">Crear Servicio</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
